<div class="card-list-wrapper-div">
  <h1>{{title}}</h1>
  <div *ngIf=canAddNew>
    <ion-icon name="add-circle-outline" size="large"></ion-icon>
  </div>
  <div *ngIf=isNewFeature>
    <ion-badge>NOVO</ion-badge>
  </div>
</div>

<ion-grid>
  <ion-row class="container">
    <!-- <ion-col class="ion-no-padding">
      <app-card></app-card>
    </ion-col>
    <ion-col class="ion-no-padding">
      <app-card></app-card>
    </ion-col> -->
    <ion-col *ngFor="let card of cards">
      <app-card></app-card>
    </ion-col>
    <!-- <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col> -->
  </ion-row>
</ion-grid>