<h1>PERSONAL ONLINE</h1>
<ion-grid>
  <ion-row class="container">
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
    <ion-col>
      <app-card></app-card>
    </ion-col>
  </ion-row>
</ion-grid>