.parent-div {
    background-color: var(--background-grey); 
    display: flex; 
    justify-content: flex-start; 
    padding: 10px 25px 15px 25px;
}

ion-img {
    clip-path: circle(); 
    height: 80px;
    margin-left: 1.5em; 
    margin-right: 1em;
}

h3 {
    margin-bottom: 0px; 
    font-family: var(--default-font);
    font-weight: 600;
}

p {
    background-color: var(--background-grey); 
    padding: 0;
    margin-top: 5px; 
    font-size: medium; 
    font-family: var(--default-font); 
}