ion-toolbar {
    --min-height: 50px;
    --opacity: 0;
    background-color: var(--background-grey) !important;
    overflow:visible !important;
}

// .toolbar-container {
//     z-index: 100;
// }

//TODO fazer o botão se adequar ao tamanho dos elementos filhos 
ion-menu-button {
    position: relative;
    color:white;
}

ion-button::after {
    overflow: visible;
}

ion-icon {
    color: var(--orange);
}

ion-img {
    height: 30px;
    width: auto;
}

//TODO fazer uma shadow bonitinha nesse círculo
.background-circle {
    position:absolute;
    height: 28px;
    width: 28px;
    background-color: var(--background-black);
    border-radius: 50%;

    box-shadow: 0px 2px 2px 0px var(--shadow-color);
}

.dot {
    position:absolute;
    height: 9px;
    width: 9px;
    background-color: #6cbf6c;
    border-radius: 50%;
    display: inline-block;
    top: 3px;
    left: 12px;

  }
