ion-toolbar {
    --min-height: 50px;
    --opacity: 0;
    background-color: var(--background-grey) !important;
    overflow:visible !important;
}


ion-menu-button {
    display: inline; 
    position: relative; 
    width: auto;

    overflow: visible;
    color:white;

}

ion-button::after {
    overflow: visible;
}

ion-icon {
    position: absolute;
    color: var(--orange);
    font-size: 13px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ion-img {
    height: 30px;
    width: auto;
}

.background-circle {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    padding: .8rem;
    width: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--background-black);
    line-height: 30px;

    box-shadow: 0px 2px 5px 0px var(--background-black);
    overflow: visible;
  }

.dot {
    position:absolute;
    height: 9px;
    width: 9px;
    background-color: #6cbf6c;
    border-radius: 50%;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(20%, -160%);
  }
