<ion-toolbar color="translucent" no-padding no-border>

  <ion-buttons slot="start">
    <ion-menu-button menu="menu"></ion-menu-button>
  </ion-buttons>

  <ion-title>
    <ion-img
      src="../../../assets/images/UsinaPlay_logo_2.png"
    ></ion-img>
  </ion-title>

  <ion-buttons slot="end">
    <ion-menu-button menu="notifications">

      <span class="background-circle"></span>
      <ion-icon name="notifications"></ion-icon>
      <span *ngIf=hasNotification class="dot"></span>

    </ion-menu-button>
  </ion-buttons>

</ion-toolbar>