.options-wrapper-div {
    display: flex; 
    justify-content: space-between; 
    padding: 0px 10px 5px 3px;
    align-items: center;
}

.background-circle-outline {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    padding: .8rem;
    width: 30px;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    background-color: transparent;
    color: var(--orange);
    line-height: 30px
    // box-shadow: rgba(231, 234, 236, 0.35) 0px 4px 12px;
  }

  p {
    margin: 0px; 
    padding: 0px 0px 0px 5px;
    font-size: 12px;
    color: var(--orange);
    display: inline;
    font-family: var(--default-font);
  }

  ion-icon {
    position: absolute;
    color: var(--orange);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }