<app-notification></app-notification>

<app-menu style="color:white">asiuhdauishduias</app-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <app-toolbar></app-toolbar>
  </ion-header>

  <ion-content> 

    <div style="background-color: #1F1F21; display: flex; justify-content: flex-start; padding: 25px 25px 25px 25px">
      <ion-img style="clip-path: circle(); height: 80px; margin-left: 1.5em; margin-right: 1em;" src="https://i.pravatar.cc/100?img=14"></ion-img>

      <div>
        <h3 style="margin-bottom: 0px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Leonardo Santos</h3>
        <p style="margin-top: 5px; font-size: medium; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #6A36E8;">Nível Roxo</p>
      </div>

    </div>

    <div style="background-color: #1F1F21; display: flex; justify-content: center; padding-bottom: 10px; border-bottom-left-radius: 60px; border-bottom-right-radius: 60px;">

      <div style="display: flex; justify-content: space-between; padding: 5px;">
        <span class="backgroundCircleOutline"></span>
        <ion-icon name="accessibility" style="color: orange"></ion-icon>
        <p style="margin: 0px; padding-left: 10px; font-size: 10px;">MEU CORPO</p>
      </div>
      <div style="display: flex; justify-content: space-between; padding: 5px;">
        <ion-icon name="trophy"></ion-icon>
        <p style="margin: 0px; padding-left: 10px; font-size: 10px;">OBJETIVOS E CONQUISTAS</p>
      </div>

    </div>

  </ion-content>
</div>
